<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">User info</h4>
                <h6 class="card-subtitle">If you want, you can update your data</h6>
                <form class="form p-t-20" autocomplete="off">
                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd1">Password</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input type="password" class="form-control" id="pwd1" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd2">Confirm Password</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input type="password" class="form-control" id="pwd2" placeholder="Enter email">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10">Save</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">User image</h4>
                <h6 class="card-subtitle">If you want, you can update your picture</h6>

                <div class="form-group">
                    <label for="exampleInputuname">Actually image</label>
                    <img src="" alt="">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Update image</label>
                    <input type="file" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>

                <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10">Update</button>
            </div>
        </div>
    </div>
</div>