<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputuname">Find medic</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-search"></i></div>
                        <input type="text" class="form-control" id="exampleInputuname" placeholder="Write a term to find medic" (input)="findMedicByTerm(medic_term.value)" #medic_term>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="response?.docs" class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label"><strong>Limit of medics per page:</strong></label>
                            <select (change)="changeLimit()" [(ngModel)]="limit" class="form-control custom-select" data-placeholder="Choose a the limit of medics per page" tabindex="1">
                                <option [value]="5">5</option>
                                <option [value]="10">10</option>
                                <option [value]="25">25</option>
                                <option [value]="50">50</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 btn-centered-end">
                        <button [routerLink]="['/dashboard/medic', 'new']" class="btn btn-primary">Create medic</button>
                    </div>
                </div>

                <h4 class="card-title">Medics</h4>
                <h6 class="card-subtitle">List of registered medics</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Avatar</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Hospital</th>
                                <th class="text-nowrap">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medic of response.docs; let i = index;">
                                <td>{{i+1}}</td>
                                <td>
                                    <img class="image-table" [ngClass]="{'cursor-pointer': _userSerice.user?.role === 'ADMIN_ROLE'}"
                                         [src]="medic | getImage: 'medics' | async" [alt]="medic.name" (click)="openModalToUploadImage(medic)">
                                </td>
                                <td>{{medic.name}}</td>
                                <td>
                                    <span class="badge" [ngClass]="{'badge-success' : medic.status === 'ACTIVE', 'badge-warning': medic.status === 'INACTIVE' }">{{medic.status}}</span>
                                </td>
                                <td>{{medic.hospital.name}}</td>
                                <td class="text-nowrap">
                                    <a [routerLink]="['/dashboard/medic', medic._id]" data-toggle="tooltip" data-original-title="Edit medic"><i class="fa fa-pencil text-inverse m-r-10"></i></a>
                                    <a (click)="deleteMedic(medic)" class="cursor-pointer" data-toggle="tooltip" data-original-title="Delete medic"><i class="fa fa-close text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row animated fadeIn fast" *ngIf="loading">
                    <div class="col-12">
                        <div class="alert alert-info text-center">
                            <h4 class="alert-heading">Loading...</h4>
                            <i class="fa fa-spin fa-refresh fa-2x"></i>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 pagination-container">
                    <button [disabled]="!response.hasPrevPage"
                            (click)="changePage(response.prevPage)" class="btn btn-secondary">
                        Previous
                    </button>

                    <span *ngIf="response?.hasPrevPage" class="pagination-number ml-2" (click)="changePage(response.prevPage)">{{response.prevPage}}</span>
                    <span class="pagination-number-active ml-2 mr-2">{{response.page}}</span>
                    <span *ngIf="response?.hasNextPage" class="pagination-number mr-2" (click)="changePage(response.nextPage)">{{response.nextPage}}</span>

                    <button [disabled]="!response.hasNextPage"
                            (click)="changePage(response.nextPage)" class="btn btn-secondary">
                        Next
                    </button>

                    <span class="records">Total records: {{response.totalDocs}} </span>
                </div>
            </div>
        </div>
    </div>
</div>
