<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="hospitalTermToFind">Find hospital</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-search"></i></div>
                        <input type="text" class="form-control" id="hospitalTermToFind" placeholder="Write a term to find..."
                               (input)="findHospitalByTerm(term_hospitals.value)" #term_hospitals>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label"><strong>Limit of users per page:</strong></label>
                            <select (change)="changeLimit()" [(ngModel)]="limit" class="form-control custom-select" data-placeholder="Choose a the limit of users per page" tabindex="1">
                                <option [value]="5">5</option>
                                <option [value]="10">10</option>
                                <option [value]="25">25</option>
                                <option [value]="50">50</option>
                            </select>
                        </div>
                    </div>
                </div>

                <h4 class="card-title">Hospitals</h4>
                <h6 class="card-subtitle">List of registered hospitals</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="w10">Avatar</th>
                                <th>Name</th>
                                <th>Estatus</th>
                                <th class="text-nowrap">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of response?.docs; let i = index;">
                                <td>{{i+1}}</td>
                                <td>
                                    <img class="image-table" [class.cursor-pointer]="userService.user?.role === 'ADMIN_ROLE'" 
                                         [src]="hospital | getImage: 'hospitals' | async" [alt]="hospital.name"
                                         (click)="openModal(hospital)">
                                </td>
                                <td>{{hospital.name}}</td>
                                <td>
                                    <span class="badge" [ngClass]="{'badge-success': hospital.status === 'ACTIVE', 'badge-warning': hospital.status === 'INACTIVE'}">{{hospital.status}}</span>
                                </td>
                                <td class="text-nowrap">
                                    <a *ngIf="userService.user?.role === 'ADMIN_ROLE'" data-toggle="tooltip" data-placement="top" title="Edit hospital's name" (click)="setHospitalToEdit(hospital)"
                                       data-toggle="modal" data-target="#modalHospitalEdit" data-whatever="@getbootstrap" class="cursor-pointer">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                    </a>
                                    <a *ngIf="userService.user?.role === 'ADMIN_ROLE'" data-toggle="tooltip" data-placement="top" title="Delete hospital"
                                       (click)="deleteHospital(hospital)" class="cursor-pointer">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row animated fadeIn fast" *ngIf="loading">
                        <div class="col-12">
                            <div class="alert alert-info text-center">
                                <h4 class="alert-heading">Loading...</h4>
                                <i class="fa fa-spin fa-refresh fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 pagination-container">
                    <button [disabled]="!response?.hasPrevPage"
                            (click)="changePage(response!.prevPage)" class="btn btn-secondary">
                        Previous
                    </button>

                    <span *ngIf="response?.hasPrevPage" class="pagination-number ml-2" (click)="changePage(response!.prevPage)">{{response?.prevPage}}</span>
                    <span class="pagination-number-active ml-2 mr-2">{{response?.page}}</span>
                    <span *ngIf="response?.hasNextPage" class="pagination-number mr-2" (click)="changePage(response!.nextPage)">{{response?.nextPage}}</span>

                    <button [disabled]="!response?.hasNextPage"
                            (click)="changePage(response!.nextPage)" class="btn btn-secondary">
                        Next
                    </button>

                    <span class="records">Total records: {{response?.totalDocs}} </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="modalHospitalEdit" tabindex="-1" role="dialog" aria-labelledby="modalHospitalEditLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalHospitalEditLabel1">Hospital edition</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" #closeHospitalEditModal>×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name" class="control-label">Name:</label>
                        <input type="text" class="form-control" id="name" #hospital_name autocomplete="off">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="updateHospital()">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>